@import '../../styles/utils/variables.scss';

.aboutCollapse {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5vh;
    margin:6vh 0 7vh 0;
    @media (max-width: $breakpoint-desktop) {
        gap: 3vh;
        margin:3vh 0 3vh 0;
    }

    &Container {
        h3 {
            margin:0 0 0 0;
        }
        width: 100%;
    }
}