@import '../../../styles/utils/mixins.scss';
@import '../../../styles/utils/variables.scss';

.cardsContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: $secondary-color;
   border-radius: 30px;
   padding: 35px 0;
   margin: 50px 0;

   @media (max-width: $breakpoint-desktop) {
      justify-content: center;
      gap:20px;
      background-color: white;
      padding: 35px 0;
      margin: 0 0 0 0;
   }

   a {
      margin: 30px;
   }
   .card {
      cursor: pointer;
      width: 340px;
      height: 340px;
      /*margin: 30px;*/
      transition: 0.2s;

      @media (max-width: $breakpoint-desktop) {
         width: 100%;
         height: 255px;
         margin:0;

         &:hover {
            scale: 0.9;
         }
      }

      &:hover {
         scale: 1.05;
      }

      .img {
         object-fit: cover;
         width: 100%;
         height: 100%;
         border-radius: 15px;
      }

      .gradient {
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
         width: 100%;
         height: 100%;
         border-radius: 15px;
         position: relative;
         bottom: 345px;
         @media (max-width: $breakpoint-desktop) {
            bottom: 260px;
         }
      }

      .title {
         color: $tertiary-color;
         font-size: 18px;
         position: relative;
         width: 80%;
         text-align:center;
         bottom: 395px;
         left: 30px;

         @media (max-width: $breakpoint-desktop) {
            bottom: 305px;
         }
      }

   }
}